## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [57]:
# Your code here
sample_list_1 = random.sample(range(101), k = 80)
print (sample_list_1)
print (len(sample_list_1))

[21, 83, 100, 3, 74, 89, 32, 53, 11, 37, 50, 95, 24, 52, 57, 39, 40, 75, 2, 44, 85, 42, 67, 61, 64, 16, 31, 12, 80, 62, 1, 77, 98, 4, 93, 54, 79, 65, 90, 43, 25, 88, 33, 22, 72, 82, 91, 58, 36, 49, 47, 30, 69, 70, 8, 76, 17, 34, 59, 35, 18, 29, 9, 63, 60, 0, 6, 87, 99, 23, 10, 27, 73, 78, 46, 45, 96, 13, 94, 19]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [58]:

# Your code here

set1 = set (sample_list_1)
print(set1)
print(len(set1))

{0, 1, 2, 3, 4, 6, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 21, 22, 23, 24, 25, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 52, 53, 54, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 98, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [59]:

# Your code here

#sample_list_2 = []

#for i in range(80):
    #num = random.randint(0, 100)
    #sample_list_2.append(num)
    
# sample = i for i in range (..) --> i - [random.randint]
# notice the OBOE (of by one error, so (1,100) here and in a range it is(101)
sample_list_2 = [random.randint(0, 100) for i in range(80)]
print(sample_list_2)

[94, 69, 57, 54, 3, 21, 51, 60, 65, 55, 70, 34, 85, 24, 4, 55, 65, 57, 12, 26, 25, 37, 31, 13, 29, 71, 13, 17, 64, 30, 34, 67, 48, 32, 31, 84, 22, 50, 28, 55, 86, 29, 1, 47, 73, 73, 70, 78, 51, 41, 23, 71, 7, 61, 73, 24, 55, 86, 32, 9, 76, 26, 34, 54, 81, 51, 12, 60, 3, 76, 24, 44, 98, 99, 40, 76, 69, 16, 80, 20]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [60]:

# Your code here

set2 = set((sample_list_2))

print (set2)
print(len(set2))

{1, 3, 4, 7, 9, 12, 13, 16, 17, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 34, 37, 40, 41, 44, 47, 48, 50, 51, 54, 55, 57, 60, 61, 64, 65, 67, 69, 70, 71, 73, 76, 78, 80, 81, 84, 85, 86, 94, 98, 99}
52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [61]:

# Your code here
set3 = set1 - set2
print (set3)

{0, 2, 6, 8, 10, 11, 18, 19, 27, 33, 35, 36, 39, 42, 43, 45, 46, 49, 52, 53, 58, 59, 62, 63, 72, 74, 75, 77, 79, 82, 83, 87, 88, 89, 90, 91, 93, 95, 96, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [62]:

# Your code here

set4 = set2 - set1
print (set4)
print(len(set4))

{7, 71, 41, 48, 81, 51, 20, 84, 86, 55, 26, 28}
12

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [63]:
# Your code here

set5 = set2.intersection(set1)
print (set5)

{1, 3, 4, 9, 12, 13, 16, 17, 21, 22, 23, 24, 25, 29, 30, 31, 32, 34, 37, 40, 44, 47, 50, 54, 57, 60, 61, 64, 65, 67, 69, 70, 73, 76, 78, 80, 85, 94, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [64]:
# Your code here


print(len(set3) == len( set1 - set2))

print(len(set4) == len(set2 - set1))

print(len(set5) == len(set2.intersection(set1)))

True
True
True

#### Create an empty set called `set6`.

In [65]:
# Your code here

set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [66]:

# Your code here
set6.update(set5, set3)
print(set6)

{0, 1, 2, 3, 4, 6, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 21, 22, 23, 24, 25, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 52, 53, 54, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [67]:

# Your code here
print("it is ",set1 == set6, "that set1 and set6 are equal" )

it is  True that set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [68]:

# Your code here


print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [71]:

# Your code here
aggr_345 = set3.union(set4, set5)

aggr_12 = set1.union(set2)

aggr_12 == aggr_345

print ("It is ", aggr_12 == aggr_345, "that the union of set4 adn set5 are equal to the union of set1 and set2")

It is  True that the union of set4 adn set5 are equal to the union of set1 and set2

#### Using the `pop` method, remove the first element from `set1`.

In [72]:
# Your code here

set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [38]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    set1.discard(i)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 14, 16, 17, 18, 20, 22, 23, 24, 25, 27, 28, 30, 32, 35, 38, 40, 42, 43, 44, 45, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 65, 66, 67, 68, 70, 72, 76, 77, 78, 80, 82, 83, 84, 85, 87, 88, 90, 92, 93, 94, 95, 97, 98, 100}